@import 'libs/bootstrap-reboot.min';
@import 'base/mixin';
@import 'base/variables';
@import 'blocks/leftBlock';
@import 'blocks/centralBlock';
@import 'blocks/rightBlock';
:root {
    width: 100%;
}
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
    
}
.card {
    background: url('../img/main_bg.png');
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container {
    max-width: 1680px;
    display: grid;
    padding: 5%;
    grid-template: repeat(1,minmax(635px, auto) ) / repeat(3, 1fr);
    column-gap: 3%;
    transition: 1s all;
    
}   
 
@import 'blocks/media';
