.container {
    &__inner-central {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.text {
    position: relative;
    &_mt {
        margin-top: 50px;
    }

    &__title {
        font-weight: 600;
        font-size: 30px;
        color: $main-color;
        opacity: 0.9;
        margin-bottom: 0;
    }
    &__descr {
        position: relative;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: $main-color;
        opacity: 0.8;
        margin-top: 15px;
        margin-bottom: 0;
        &_shift-right{
            padding-left: 18px;
        }
    }
    
}