@media (max-width: 1200px) {
    .container{
        &__inner-right{
            .img-descr {
                bottom: 30px;
                font-size: 22px;
                line-height: 27px;
            }
        }
    }
    .title {
        font-size: 50px;
        line-height: 50px;
    
    }
}
@media (max-width: 992px) {
.title {
    font-size: 40px;
    line-height: 40px;
}
.text {
    &__title{
        font-size: 23px;
    }
    &__descr {
        font-size: 12px;
        line-height: 17px;
    }
}
.img-descr {
    bottom: 40px;
    font-size: 17px;
    line-height: 23px;

}
}
@media (max-width: 768px) {
.title {
    font-size: 50px;
}
.container {
    .text {
        margin-top: 5%;
        &__title {
            font-size: 23px;
        }
        &__descr {
            font-size: 15px;
            line-height: 26px;
        }
    }
    display: block;
    width: 100%;
    &__inner {
        width: 90%;
        display: block;
        margin: 0 auto;
        &-central {
            margin-top: 10%;
        }
    }
    &__inner-right {
        margin-top: 5%;
        min-height: 500px;
        border-radius: 5%;
        .img-descr {
            position: absolute;
            bottom: 83px;
            text-align: center;
            font-weight: 600;
            font-size: 30px;
            line-height: 35px;
            color: $main-color;
        }
    }
}
    
   
}
@media (max-width: 576px) {
    .container{
        .title {
            font-size: 40px;
        }
        &__inner-right{
            .img-descr {
                bottom: 40px;
                font-size: 20px;
                line-height: 27px;
            }
        }
    }
    
    
}



